{
  "env": {
    "browser": true,
    "node": true
  },
  "parser": "babel-eslint",
  "extends": "airbnb",
  "settings": {
      "import/ignore": [".scss$", "style"],
  },
  "rules": {
      "no-unused-vars": ["error", {"varsIgnorePattern": "style"}]
  }
}
